<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <title>电影检索</title>
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body class="bg">
    <!-- 搜索框 -->
    <div align="center" style="margin-top: 100px">

        <div class="Logo" style="margin-top: 20px">
            <img src="../static/movie_pre_logo.png" alt="">
        </div>

        <div class="search bar">
            <form action="{{ url_for('get_detail') }}" method="get">
                <input type="text" id="searchInput"  placeholder="请输入搜索关键词">
                <button type="submit"></button>
                <div id="suggestions"></div>

            </form>



            <div style="font-size: 25px;color:#ec500b;font-weight: bolder">
              预测评分：
            </div>

            <div class="search_detail_score">
                    <p>{{ data }}</p>
            </div>

            <div class="search_detail">

            {% for key_word in key_words %}

                <div style="font-size: 15px;color:#ec500b;font-weight: bolder ">电影名称：</div>
                <div class="search_detail_title">{{ key_word.movie }}</div>

                <div style="font-size: 15px;color:#ec500b;font-weight: bolder ">豆瓣评分：</div>
                <div class="search_detail_score"><p>{{ key_word.douban_score }}</p></div>

                <div style="font-size: 15px;color:#ec500b;font-weight: bolder ">电影解析：</div>
                <div style="font-size: 15px;font-weight: bold;text-indent: 50px;line-height: 25px"><p>{{ key_word.storyline }}</p></div>

            {% endfor %}
            </div>
        </div>>
    </div>
<script>

</script>
</body>
</html>
